* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #27ae60;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

h1 {
  color: #fff;
  display: inline;
  font-family: 'Lobster', cursive, sans-serif;
  font-size: 40px;
}

h2 {
  letter-spacing: 1px;
}

a {
  color: #fff;
  text-decoration: none;
}

#top {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px;
  position: relative;
}

#top a:hover {
  color: #777;
}

#top a:nth-of-type(2) {
  background: -webkit-linear-gradient(#3e779d, #3b5998);
  background: linear-gradient(#3e779d, #3b5998);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 60px;
}

#top a:nth-of-type(2):hover {
  background: -webkit-linear-gradient(#3b5998, #3e779d);
  background: linear-gradient(#3b5998, #3e779d);
}

button:hover {
  cursor: pointer;
}

#modal {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  letter-spacing: 1px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index: 9999;
}

#modal:target {
  opacity: 1;
  pointer-events: auto;
}

#modal > div {
  border-radius: 10px;
  background: #fff;
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  position: relative;
  width: 400px;
}

#modal > div > p:first-of-type {
  margin: 0 0 20px 0;
}

#modal > div > p:nth-of-type(2),
#modal > div > p:nth-of-type(3) {
  margin: 0 0 5px 0;
  padding: 0 0 0 5px;
}

#modal > div > input {
  border: none;
  border-radius: 2px;
  margin: 0 0 20px 0;
  outline: none;
  padding: 5px;
  width: 95%;
}

#modal > div > input:focus {
  outline: auto;
}

.loginButtons {
  margin: 10px 0 50px 0;
}

#remember {
  display: inline-block;
  margin: 0 0 0 20px;
}

#signIn:first-of-type {
  background: -webkit-linear-gradient(#3e779d, #3b5998);
  background: linear-gradient(#3e779d, #3b5998);
  border-radius: 5px;
  color: #fff;
  padding: 10px 60px;
}

#signIn:first-of-type:hover {
  background: -webkit-linear-gradient(#3b5998, #3e779d);
  background: linear-gradient(#3b5998, #3e779d);
}

#question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#question a:hover {
  color: 888;
}

#close {
  background: #606061;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  text-decoration: none;
  top: -10px;
  width: 24px;
}

#close:hover {
  background: #00d9ff;
}

#modal > div > a:nth-of-type(3) {
  margin: 0 0 0 90px;
}

#display {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  height: 100%;
  margin: 50px auto 50px auto;
  padding: 0 30px 20px 30px;
  text-align: center;
  width: 70%;
}

#quoteDisplay {
  padding: 20px 0;
  width: 100%;
}

#mainButtons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#mainButtons button {
  border: 1px solid #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto;
  outline: none;
  padding: 5px 10px;
  width: 150px;
}